<% bookCoverClass = locals.large ? 'book-cover-large' : '' %> 
<% bookCoverClass = locals.large ? 'book-grid-large' : '' %> 
<div class="bookgrid <% bookGridClass %>">
  <% books.forEach(book => { %>
   <a href="/books/<%= book.id %>"
    <img src="<%= book.coverImagePath %> " class="book-cover <%= bookCoverClass %> ">
  <% }) %>

</div>